*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;

}

.head{

  background-color: yellowgreen;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(0 ,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
 
  
}

.foot{

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray;
  color: white;
  text-align: center;
  
}

.text_box{

  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgb(0 ,0,0,0.5);
  width: 20%;
  min-height: 12vh;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
  border-radius: 15px;
  background: transparent;
  background-color: azure;
}

input{
  margin-top: 10%;
  background: transparent;
  border: none;
  border-bottom: 2px solid green;
  outline: none;

  
}

.but{

  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 4px rgb(0 ,0,0,0.5);
  width: 40px;
  height: 40px;
  
  background-color: limegreen;
  
}

.result{

  border-radius: 8%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 15%;
  min-height: 15vh;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 2px 2px 4px rgb(0 ,0,0,0.5);
  background-color: lightyellow;
  float: left;
}